<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Luis Quintino</title>
</head>
<body style="background-color:rgb(46,26,71) ;">

    <div class="container">
        <div class="row">
                <div class="card shadow-lg mb-3 text-bg-dark" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img id="foto" class="img-fluid rounded-circle" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Quem sou eu</h5>
                          <p class="card-text">Meu nome é <a id="nome"></a>, sou um pseudo-programador que gosta muito de jogar videogame e conversa fora.</p>
                        </div>
                      </div>
                    </div>
                </div>
        </div>
        <div class="row" id="repos">

        </div>
    </div>
    <script src="../assets/js/requisicao.js">
    </script>
</body>
</html>